<html>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<head>
   <title>login</title>
</head>
<body>
    <div class="container">
<form action="/admin" method="post">
   <input type="text" name="email" ><br/>
   <input type="password" name="pass"/><br/>
   <button type="submit" class ="btn btn-primary" >submit</button>
</form></div>
</body>
</html>


